.row_time {
  font-size: 90%;
  color: gray; }

.row_user {
  font-weight: bold;
  font-size: 90%;
  color: teal; }

#close_room {
  color: black;
  position: absolute;
  right: 5px; }

#main_window {
  height: 30rem;
  max-height: 30rem;
  overflow-y: auto; }

#top_username {
  font-weight: bold;
  color: teal; }

.system_msg {
  color: gray;
  font-size: 90%; }