{% extends "layout.html" %}

{% block title %}
    Chat rooms (project2)
{% endblock %}

{% block body %}
  <p>Hello, {{ session.get('username', None) }}</p>
  <!--<div class='container'>-->
  <div class="row justify-content-center">
    <!--<div class="col-lg-8 col-md-10">-->
    <div class="col-md-3 col-sm-10">
      <h5 class="text-center">Choose a chat room</h5>
      <div class="list-group">
      {% for room, users in channels.items() %}
        <a href="rooms/{{ room }}" class="list-group-item list-group-item-action">
          {{ room }}
          <span class="badge badge-primary badge-pill">{{ users[0]|length }}</span>
        </a>
      {% else %}
        No any rooms, you will be the first.
      {% endfor %}
      </div>
    </div>
    <!--<div class="col-md-1 col-sm-10">-->
    <!--</div>-->
    <div class="col-md-3 col-sm-10 text-center">
      <h5>or create a new one</h5>
      <a class="btn btn-outline-primary btn-lg" href="#" role="button">Add a room</a>
    </div>
  </div>
{% endblock %}