{% extends "layout.html" %}

{% block title %}
    Chat rooms (project2)
{% endblock %}

{% block static %}
  <script>
    // Redirect to chat room if user return
    if (localStorage.getItem('room'))
      window.location.href = `/rooms/${(localStorage.getItem('room'))}`;
  </script>
{% endblock %}



{% block body %}

  <div class="row justify-content-center">
    <div class="col-md-3 col-sm-10">
      <h5 class="text-center">Choose a chat room</h5>
      <div class="list-group">
      {% for room, users in channels.items() %}
        <a href="rooms/{{ room }}" class="list-group-item list-group-item-action">
          {{ room }}
          <span class="badge badge-info badge-pill">{{ users[0]|length }}</span>
        </a>
      {% else %}
        No any rooms, your one will be the first.
      {% endfor %}
      </div>

      <!-- Button trigger modal -->
      <div class="text-center p-2">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModalCenter">
        Add a room
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="/create_room" method='post'>
                <div class="modal-body">
                  <input autocomplete="off" autofocus class="form-control" name="new_room" placeholder="room" required type='text'>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-info">Greate room</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
{% endblock %}