<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% block static %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    </head>

    <body>
        <div class="row justify-content-md-center">
            <div class="col-lg-10 col-md-11 col-sm-12 pt-5 text-right">
                <!--<a href="/">main page</a>-->
                <!--|-->
                <!--<a href="/login">login page</a>-->
                <p class="pr-3"><span id='top_username'>{{ session.get('username', None) }} </span> | <a href="/login" id='logout'>logout</a></p>
            </div>
        </div>

  <!--<div class='container'>-->


        {% block body %}
        {% endblock %}
    </body>
</html>