{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block static %}
  <script>
    // clear any room
    localStorage.setItem('room', '');
  </script>
{% endblock %}

{% block body %}
  <div class="row justify-content-md-center">
    <form  class="form-inline" action="{{ url_for('login') }}" method='post'>
      <div class="form-group mb-2">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Your nickname" required type="text">
      </div>
        <button  class="btn btn-info mb-2" type="submit">Enter</button>
  	</form>
  </div>
{% endblock %}